/* Global */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-size: large;
}

.hangman-description {
    width: clamp(60%, 80%, 100vw);
    margin: auto;
}

.btn:hover {
    transform: scale(1.1);
}

ul {
    list-style-type: none;
    padding: 0 !important;
    margin: 0 !important;
}

.hangman-title {
    margin-top: 20px;
}

/* END GLOBAL */

/* Navbar */
.navbar-brand {
    margin-left: 1rem;
}

.topic-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topic-item {
    width: clamp(300px, 700px, 90%);
    margin: 1rem 0;
    padding: 0;
}

.topic-item:hover {
    transform: scale(1.1);
}

.topic-item span, .topic-item p {
    padding: 0 !important;
    margin: 0;
}

.topic-item span {
    font-size: larger;
}
/* END NAVBAR */

/* Hangman SVG */
.guesses-left {
    margin-top: 20px;
}

line, circle {
    stroke: black;
    stroke-width: 4px;
}

rect {
    fill: none;
}

.hangman-game {
    height: 300px;
    width: 100%;
}

#hangman-drawing {
    display: block;
    height: 100%;
    width: fit-content;
    padding: 10px;
    margin: auto;
    border: 1px solid black;
}

.drawing-body > * {
    opacity: 0;
}

.fade-in {
    animation: fadein 1s linear;
    opacity: 100% !important;
}
/* END OF HANGMAN SVG */

/* Secret Word */
.hangman-secret-word {
    margin: auto;
    text-align: center;
}

.secret-word {
    font-size: clamp(1rem, 50px, 70px);
    letter-spacing: clamp(5px, 25px, 30px);
    margin: 20px 0;
}

.bounce {
    animation: bounce 2s infinite;
    animation-delay: calc(var(--transition-delay));
}

.flip {
    animation: flip .8s linear;
}
/* END OF SECRET WORD */


/* Hangman keyboard */

.hangman-keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.keyboard-row {
    /* display: flex; */
    margin-top: 20px;
    
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn {
    box-shadow: none !important;
}

.jump {
    animation: jump 1s linear;
}
/* END OF KEYBOARD */

/* Finished game */
.finished-game {
    margin-top: 20px;
}

/* ANIMATIONS */
@keyframes flip {
    from {
        transform: none;
    }
    to {
        transform: rotateX(360deg);
    }
}

@keyframes jump {
    0%, 40%, 100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-20px);
    }
}

@keyframes bounce {
    0%, 40%, 100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-20px);
    }
}

@keyframes fadein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}


@media (max-width: 578px) {
    .keyboard-row {
        margin-bottom: 10px;
        width: 100%;
    }

    .keyboard-row button {
        font-size: 1.3rem;
        padding: .3rem;
    }

    .secret-word {
        font-size: 2rem;
        letter-spacing: 1px;
    }

    .hangman-description {
        width: 95%;
    }
}