/* Global */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-size: large;
}

.content {
    width: 80%;
    margin: auto;
}

.btn:hover {
    transform: scale(1.1);
}

ul {
    list-style-type: none;
    padding: 0 !important;
    margin: 0 !important;
}

/* END GLOBAL */

/* Navbar */
.navbar-brand {
    margin-left: 20px;
}


.topic-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topic-item {
    width: clamp(300px, 700px, 100%);
    margin: 1rem 0;
    padding: 0;
}

.topic-item:hover {
    transform: scale(1.1);
}

.topic-item span, .topic-item p {
    padding: 0 !important;
    margin: 0;
}

.topic-item span {
    font-size: larger;
}

/* Hangman SVG */
line, circle {
    stroke: black;
    stroke-width: 4px;
}

rect {
    fill: none;
}

.hangman-game {
    height: 300px;
    width: 100%;
}

#hangman-drawing {
    display: block;
    height: 100%;
    width: fit-content;
    padding: 10px;
    margin: auto;
    border: 1px solid black;
}

.drawing-body > * {
    opacity: 0;
}

.fade-in {
    animation: fadein 1s linear;
    opacity: 100% !important;
}

/* END OF DRAWING */

/* Hangman Secret Word */
.hangman-secret-word {
    margin: auto;
}

.secret-word {
    font-size: 50px;
    letter-spacing: 25px;
    margin: 20px 0;
}

/* Hangman keyboard */

.hangman-keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.keyboard-row {
    margin-top: 20px;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn {
    box-shadow: none !important;
}

.flip {
    animation: flip .8s linear;
}

/* END OF KEYBOARD */

/* Finished game */

.finished-game {
    margin-top: 20px;
}



/* ANIMATIONS */
@keyframes flip {
    from {
        transform: none;
    }
    

    to {
        transform: rotateX(360deg);
    }
}

.jump {
    animation: jump 1s linear;
}

@keyframes jump {
    0%, 40%, 100% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-20px);
    }

}

@keyframes fadein {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}
