{% extends "index.html" %}
{% block content %}
<div class="hangman-title">
    <h1> Welcome to Hangman </h1>
</div>

<div class="hangman-description">
    <p>Welcome to Hangman! The computer will think of a word and you will try to guess what it is
        one letter at a time. The number of dashes are the number of letters in the secret word.
        Guessing a correct letter from below will replaces those dashes for every letter contained
        in the secret word. If the letter guessed is incorrect, the computer will draw a segment
        of the gallows and the man will be closer to execution. The number of incorrect guesses
        before the game ends will be <span>10 guesses</span>. That's it, have fun!
    </p>
</div>
<div class="topic-form">
    <div class="topic-item btn btn-md border-primary">
        <span class="topic-title text-bg-light">Classic</span>
        <p class="topic-desc">Words from English Dictionary</p>
    </div>
    <div class="topic-item btn btn-md border-primary">
        <span class="topic-title text-bg-light">LoL</span>
        <p class="topic-desc">A champion from League of Legend</p>
    </div>
</div>
{% endblock %}